body {
    margin: 0;
    background-color: #edf7f5;
}

.parallax-container    {
    height: 20%;
}
.helvetica    {
    font-family: Helvetica;
}

.parallax img {
    opacity: 0.7 !important;
}
.clients img {
    max-width: 150px;
    opacity: 0.3;
}
.clients img:hover {
    opacity: 1;
    cursor: pointer;
}
.parallax    {
    height: 300px;
}
.btnTop {
    margin-top: 5%;
}
.btnTop3 {
    margin-top: 3%;
}
.btnTop2 {
    margin-top: 2%;
}
.outline {
    padding: 1%;
}
.btnTop-2    {
    margin-top: -2%;
}
.register    {
    width: 50%;
    margin: auto;
    margin-top: 5%;
    border: 1px solid #000;
    padding: 5%;
    border-radius: 20px;
    background-color: #FFF;
}
label {
    margin-left: 2%;
}
#account:hover {
    transition: 1s;
    transform: rotate(360deg);
    transition-timing-function: ease-in;
    transition-delay: .5s;
    cursor: pointer;
}
.pdescription    {
    font-weight: 700;
}
.text-justify    {
    text-align: justify;
    font-weight: 500;
}
.justify    {
    text-align: justify;
}
.text-weight {
    font-weight: 600;
}
.center    {
    text-align: center;
}
.footer    {
    height: 400px;
    width: 100%;
    color: #FFF;
    background-color: #000;
    background-image: url(pictures/planet5.jpg);
    background-size: cover;
}
.productDetail p {
    padding-left: 4%;
    padding-right: 4%;
}
.shadow    {
    text-shadow: 2px 1px 1px #000;
}
.gradientClick {
    background-image: linear-gradient(to left, #f57c00 ,#f57c00 , #ffcc80 );
}
.gradientClickBlue {
    background-image: linear-gradient(to left, #0277bd, #03a9f4 ,#b3e5fc);
}
.social    {
    width: 5%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #000033;
    padding: 0.4%;
    position: absolute;
    position: fixed;
    z-index: 3;
    top: 30%;
    width: 55px;
    left: 0;
}
.social ul li a img:hover {
    transform: rotate(360deg);
    transition: 0.8s;
}
.social ul li {
    margin-top: 10%;
}
.card {
    box-shadow: 0px 10px 2px rgba(203,203,203,0.25);
    transition: 0.7;
}
.card:hover {
    box-shadow: 6px 10px 14px rgba(0,0,0,0.5);
}